
@{
    ViewData["Title"] = "InterestingLinks";
}

<h1>InterestingLinks</h1>
<a href="www.google.com">Wyszukaj Informacje</a>
<a href="www.instagram.com">Zdjecia</a>
<a href="www.facebook.com">social media</a>
<a href="www.jbzd.com">Wejdż</a>
<a href="www.kwejk.com">Odradzam</a>
